body {
	margin: 0px;
}

.page {
	display: none;
}

.header {
	position: relative;
	width: 100%;
	background: #3c8dbc;
}

.title {
	position: absolute;
	padding-left: 20px;
	padding-top: 10px;
	font-size: 26px;
	color: white;
}

.menu {
	position: absolute;
	width: 200px;
	background: #222d32;
	overflow-y: auto;
	color: white;
}

.content {
	/*display: none;*/
	margin-left: 200px;
	overflow: auto;
}

.menu ul {
	list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

.menu ul li{
    padding: 6px 12px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
}

.menu ul li.active {
	background: white;
	color: #222d32;
}

.menu ul li.active:hover {
	background: white;
	color: #222d32;
}

.menu ul li:last-child{
	border-bottom: 0px;
}

.menu ul li:hover {
	background: #596b73;
}

.advance-area {
	display: none;
	padding: 10px 15px 2px 15px;
	font-size: 14px;
}

.filter {
	padding-bottom: 10px;
}

.results {
	margin: 10px 20px;
}

.subtitle {
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.search-area {
	background-color: wheat;
	margin: 0px 20px;
	padding: 10px;
}

.data-area {
	text-align: center;
    width: 380px;
    margin: 10px auto;
    background-color: white;
}

.btn-area {
	height: 40px;
	padding-top: 10px;
}

input[type="file"] {
	width: 150px;
}

textarea {
	width: 300px;
}

.right-border {
	box-sizing: border-box;
	border-right: 1px solid #c1c1c1;
}

.bottom-border {
	box-sizing: border-box;
	border-bottom: 1px solid #c1c1c1;
}

.level {
	padding-bottom: 10px;
	padding-left: 5px;
	font-size: 14px;
}

.pages {
    text-align: right;
    padding: 5px 0px;
}

.pages-a {
	display: inline-block;
    text-align: center;
    height: 22px;
    min-width: 19px;
    padding: 3px 4px 0px 3px;
    margin-right: 8px;
    border: 1px solid;
}

.pages a:hover {
	background-color: #3c8dbc;
	border-color: #3c8dbc;
	color: white;
}

.pages span:hover {
	color: #3c8dbc;
}

.pages span {
	cursor: pointer;
    margin-left: 8px;
}

.current {
	background-color: #3c8dbc;
	border-color: #3c8dbc;
	color: white;
}

.compact {
	height: 21px;
    width: 40px;
    outline: none;
}



.text-right {
	text-align: right;
}

.table {
	max-width: 100%;
	table-layout: fixed;
	margin: auto;
}

.table thead th {
    background-color: rgb(9, 187, 7);
    color: #fff;
    border-bottom-width: 0;
}

.table td {
    color: #000;
    text-align: center;
    max-width: 230px;
}

.table tr, .table th {
    border-width: 1px;
    border-style: solid;
}

.table td, .table th {
    padding: 5px 15px;
    font-size: 14px;
    width: 150px;
    font-family: Verdana;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a {
	text-decoration:none;
	cursor: pointer;
}

a:visited, a:link, a:active {
	color: black;
}

a:hover {
	color: #3c8dbc;
}

i {
	padding: 0px 5px;
	cursor: pointer;
}

button {
	margin-left: 10px;
}

.modal {
	display: none;
	overflow: auto;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(128,128,128,0.7);
}





/*滚动样式*/
::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
	border-radius: 4px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
	background-color: #CDCDCD;
}